func_test/cpu132_gettrace/*
func_test/soc_sram_func/*
func_test/soft_c/*
func_test/soft_func/*
func_test/soc_axi_func/testbench/*
func_test/soc_axi_func/run_vivado/*
virtualbox/.vagrant/
virtualbox/cache/mips-2013.05-65-mips-sde-elf.bin
